{% extends "BolboBlogBundle::layout.html.twig" %}

{% block title "Symfony - Notes" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">{{ 'post.list.headline'|trans({}, 'AcmeDemoBundle') }}</h1>


    <ul id="post-list">
        {% for id, post in data.posts %}
            <li>
                <a href="{{ path('get_post', {'id': post.id}) }}">{{ post }}</a>
                [<a href="{{ path('edit_posts', {'id': post.id}) }}">{{ 'post.edit.link'|trans({}, 'BolboBlobBundle') }}</a>]
                [<a href="{{ path('remove_posts', {'id': post.id}) }}">{{ 'post.remove.link'|trans({}, 'BolboBlobBundle') }}</a>]

            </li>
        {% else %}
            <li>{{ 'post.list.empty'|trans({}, 'BolboBlobBundle') }}</li>
        {% endfor %}
    </ul>
    <p>
        <a href="{{ path('new_post') }}">{{ 'post.new.link'|trans({}, 'BolboBlogBundle') }}</a>
    </p>
{% endblock %}
